<!DOCTYPE html>
<html>
    <head>
        <title>Adicionar Avaliação</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
              integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="icon" type="image/png" sizes="16x16"  th:href="@{/favicon-16x16.png}">

    </head>
    <body>
        <div class="menu-item bg-dark mb-3 navbar sticky-top">

            <a href="/" class="menu-item menu-link active btn btn-dark fa fa-gamepad text-danger" style="font-size:30px;"> ElectronicGames</a>
            <div class="nav-item dropdown ml-auto ">
                <div>   
                    <h1 sec:authorize="isAuthenticated()" class="btn btn-outline-light btn-lg ml-auto nav-link text-capitalize font-weight-bold" data-toggle="dropdown"> [[${#httpServletRequest.remoteUser}]]</h1>

                </div>
            </div>
        </div>

        <div class="jumbotron" style="background-image: url(/ess.jpg);">
            <div class="jumbotron" style="background-image: url(/ess.jpg);">


                <h3 class="text-light"> Avalie o jogo</h3>

                <form action="#" th:action="@{/jogos/add/avaliacao/{codJogo}(codJogo=${codigoJogo})}" 
                      th:object="${avaliacao}" method="post">
                    <div class="row">

                        <div class="form-group col-md-8">
                            <label for="comentario" class="col-form-label"></label> <input
                                type="text" th:field="*{comentario}" class="form-control btn-dark" id="comentario"
                                placeholder="Comentário"> <span
                                th:if="${#fields.hasErrors('comentario')}" th:errors="*{comentario}"
                                class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nota" class="col-form-label text-light">Nota</label>  <input
                                type="text" th:field="*{nota}" class="form-control btn-dark" id="nota" 
                                placeholder="Nota"> <span
                                th:if="${#fields.hasErrors('nota')}" th:errors="*{nota}"
                                class="text-danger"></span> 
                        </div>


                        <div class="col-md-10"> 
                            <input type="submit" class="btn btn-dark" value="Adicionar Avaliação">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
